.blue {
    font-family: "Times New Roman";
    font-size: 32px;
    color: blue;
    margin: 2px;
}

.test {
    white-space: normal;
    background: none;
    margin: 2px;
    border: none;
    width: clamp(200px, 100%, 600px);
    font-size: 17px;
    background-color: rgb(235, 238, 241);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    min-height: 56px;
}

.test2 {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    background: none;
    margin: 2px;
    border: none;
    width: clamp(200px, 100%, 600px);
    font-size: 17px;
    background-color: rgb(235, 238, 241);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    min-height: 56px;
}

.test3 {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    background: none;
    margin: 2px;
    border: none;
    width: clamp(200px, 100%, 600px);
    font-size: 17px;
    background-color: rgb(235, 238, 241);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    min-height: 56px;
}

.test4 {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    background: none;
    margin: 2px;
    border: none;
    width: clamp(200px, 100%, 600px);
    font-size: 17px;
    background-color: rgb(235, 238, 241);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    min-height: 56px;
}

.test5 {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    background: none;
    margin: 2px;
    border: none;
    width: clamp(200px, 100%, 600px);
    font-size: 17px;
    background-color: rgb(235, 238, 241);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
    min-height: 56px;
}
